$theme: #01bf86;
$light-500: #a0efe1;
$light-200: #d4d8dc;
$white: #ffffff;
$white2: rgba(255,255,255,0.7);
$white3: rgba(255,255,255,0.6);
$gray: #f3f6fa;
$black: #596674;
$black2: #2f3e47;
$light2: #95A8B7;

