@import "variable";
@import "global";

html{
  scroll-behavior: smooth;
}
body{

  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;
  @import "pages/header";
  @import "pages/home";
  @import "pages/about";
  @import "pages/contact";
  @import "pages/jobs";
  @import "pages/footer";
}
