.banner{
  padding: 166px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    width: 80%;
    text-align: center;
    .title{
      color: $white;
      font-size: 36px;
      font-weight: 600;
      margin-top: 30px;
    }
    .desc{
      color: #d4d8dc;
      padding: 40px 0;
      width: 58%;
      margin: 0 auto;
    }
  }
}
