.banner{
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    width: 80%;
    text-align: center;
    .title{
      color: $white;
      font-size: 36px;
      font-weight: 600;
    }
    .desc{
      color: $light-200;
      padding: 40px 300px;
    }
  }
}
