.banner{
  padding: 166px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 600px) {
    padding: 120px 0;
  }
  .content{
    width: 80%;
    text-align: center;
    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 0 20px;
    }
    .title{
      color: $white;
      font-size: 36px;
      font-weight: 600;
      margin-top: 30px;
      @media screen and (max-width: 1000px) {
        font-size: 25px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 20px;
      }
    }
    .desc{
      color: #d4d8dc;
      padding: 40px 0;
      width: 58%;
      margin: 0 auto;
      @media screen and (max-width: 1000px) {
        width: 80%;
      }
      @media screen and (max-width: 540px) {
        width: 90%;
      }
    }
  }
}
