footer{
  background-color: $black2;
  padding: 80px 0;
  .content{
    .menu{
      .item{
        .title{
          font-weight: 500;
          color: $white;
          margin-bottom: 15px;
        }
        ul{
          padding: 0;
          margin: 0;
          li{
            display: block;
            a, span{
              display: inline-block;
              margin-bottom: 5px;
              color: $white3;
              font-weight: normal;
              font-size: 14px;
            }
            a{
              &:hover{
                transition: all .3s ease;
                color: $white2;
              }
            }
          }
        }
      }
    }
    .copy{
      margin-top: 50px;
      color: $light2;
      text-align: center;
    }
  }
}
